 h1 {
   color: red;
   font-size: 200%;
 }

 img:hover {
   background-color: gold;
 }

/***********************CLASS SELECTOR***********************/

.bacon {
  background-color: green;
  height: 120px;
}

.broccoli {
  background-color: red;
}

/***********************ID SELECTOR***********************/

# heading {
  color: blue;
}
